In [5]:
"""All codes written below are regarding PYTHON MONGODB. """
"""All codes written below are regarding GETTING STARTED WITH PYMONGO. """


import pymongo

"""All codes regarding GETTING STARTED WITH PYMONGO are completed here. """

'All codes regarding GETTING STARTED WITH PYMONGO are completed here. '

In [21]:
"""All codes written below are regarding CREATING DATABASE. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]  #database will not be created untill it gets
                                                    #content.
print(myclient.list_database_names())

import pymongo
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

"""All codes regarding CREATING DATABASE are completed here. """

['admin', 'config', 'local', 'mydatabase']
The database exists.

'All codes regarding CREATING DATABASE are completed here. '

In [27]:
import pymongo
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient["db1"]
mydb.collection.insert_one({"name":"test"})
dblist = myclient.list_database_names()
if "db1" in dblist:
    print("ok, db1 is created. no worries. ")

ok, db1 is created. no worries.

In [39]:
"""All codes written below are regarding CREATING COLLECTION. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]  #collection will not be created untill content.

print(mydb.list_collection_names())

"""All codes regarding CREATING COLLECTION are completed here. """

[]

'All codes regarding CREATING COLLECTION are completed here. '

In [9]:
"""All codes written below are regarding INSERTING DOCUMENT. """
#document in mongo is same as record in SQL. 


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
mydict = {
    "name":"John",
    "address":"Highway 37"
}
x = mycol.insert_one(mydict)
print(x)
print(mydb.list_collection_names())

mydict = {
    "name":"Peter",
    "address":"Lowstreet 27"
}
x = mycol.insert_one(mydict)
print(x.inserted_id)

doc = mydb.mycollection.find_one({"Peter":"Lowstreet 27"})
print(doc)

for x in mycol.find():
    print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
mylist = [
    {"name":"Amy","address":"Apple st 652"},
    {"name":"Hannah","address":"Mountain 21"},
    {"name":"Michael","address":"Valley 345"},
    {"name":"Sandy","address":"Ocean blvd 2"},
    {"name":"Betty","address":"Green Grass 1"},
    {"name":"Richard","address":"Sky st 331"},
    {"name":"Susan","address":"One way 98"},
    {"name":"Vicky","address":"Yellow Garden 2"},
    {"name":"Ben","address":"Park Lane 38"},
    {"name":"William","address":"Central st 954"},
    {"name":"Chuck","address":"Main Road 989"},
    {"name":"Viola","address":"Sideway 1633"}
]
mycol.delete_many({})
x = mycol.insert_many(mylist)
print(x.inserted_ids)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

"""All codes regarding INSERT are completed here. """

InsertOneResult(ObjectId('66fbfcab2812544f2c3b537d'), acknowledged=True)
['customers']
66fbfcab2812544f2c3b537e
None
{'_id': ObjectId('66e1a4c7e530e61168913c1b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a4fee530e61168913c1d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a4fee530e61168913c1e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e1a511e530e61168913c20'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a511e530e61168913c21'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e1a594e530e61168913c23'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a594e530e61168913c24'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e1a5bae530e61168913c26'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a5bae530e61168913c27'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e1a5c4e530e61168913c29'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a5c4e530e61168913c2a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e1a724e530e61168913c2c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e1a724e530e61168913c2d'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e46bcbd1a33160b9b01801'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e46bcbd1a33160b9b01802'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e46be4d1a33160b9b01805'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66e46be4d1a33160b9b01806'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66e46be4d1a33160b9b01808'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66e46be4d1a33160b9b01809'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66e46be4d1a33160b9b0180a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66e46be4d1a33160b9b0180b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66e46be4d1a33160b9b0180c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66e46be4d1a33160b9b0180d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66e46be4d1a33160b9b0180e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66e46be4d1a33160b9b0180f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66e46be4d1a33160b9b01810'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66e46be4d1a33160b9b01811'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66e46be4d1a33160b9b01812'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66e46be4d1a33160b9b01813'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66eafb08d1a33160b9b01815'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66eafb08d1a33160b9b01816'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66eafb08d1a33160b9b01818'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66eafb08d1a33160b9b01819'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66eafb08d1a33160b9b0181a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66eafb08d1a33160b9b0181b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66eafb08d1a33160b9b0181c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66eafb08d1a33160b9b0181d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66eafb08d1a33160b9b0181e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66eafb08d1a33160b9b0181f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66eafb08d1a33160b9b01820'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66eafb08d1a33160b9b01821'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66eafb08d1a33160b9b01822'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66eafb08d1a33160b9b01823'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66eafb29d1a33160b9b01826'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66eafb29d1a33160b9b01827'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66eafb29d1a33160b9b01829'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66eafb29d1a33160b9b0182a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66eafb29d1a33160b9b0182b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66eafb29d1a33160b9b0182c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66eafb29d1a33160b9b0182d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66eafb29d1a33160b9b0182e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66eafb29d1a33160b9b0182f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66eafb29d1a33160b9b01830'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66eafb29d1a33160b9b01831'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66eafb29d1a33160b9b01832'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66eafb29d1a33160b9b01833'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66eafb29d1a33160b9b01834'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfc062812544f2c3b5352'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfc062812544f2c3b5353'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66fbfc122812544f2c3b5356'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfc122812544f2c3b5357'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66fbfc2a2812544f2c3b535b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfc2a2812544f2c3b535c'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66fbfc2a2812544f2c3b535e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66fbfc2a2812544f2c3b535f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5360'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5361'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5362'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5363'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5364'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5365'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5366'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5367'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5368'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66fbfc2a2812544f2c3b5369'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfc412812544f2c3b536c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfc412812544f2c3b536d'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66fbfc412812544f2c3b536f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66fbfc412812544f2c3b5370'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66fbfc412812544f2c3b5371'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66fbfc412812544f2c3b5372'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66fbfc412812544f2c3b5373'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66fbfc412812544f2c3b5374'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66fbfc412812544f2c3b5375'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66fbfc412812544f2c3b5376'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66fbfc412812544f2c3b5377'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66fbfc412812544f2c3b5378'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66fbfc412812544f2c3b5379'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66fbfc412812544f2c3b537a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfcab2812544f2c3b537d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfcab2812544f2c3b537e'), 'name': 'Peter', 'address': 'Lowstreet 27'}
[ObjectId('66fbfcab2812544f2c3b5380'), ObjectId('66fbfcab2812544f2c3b5381'), ObjectId('66fbfcab2812544f2c3b5382'), ObjectId('66fbfcab2812544f2c3b5383'), ObjectId('66fbfcab2812544f2c3b5384'), ObjectId('66fbfcab2812544f2c3b5385'), ObjectId('66fbfcab2812544f2c3b5386'), ObjectId('66fbfcab2812544f2c3b5387'), ObjectId('66fbfcab2812544f2c3b5388'), ObjectId('66fbfcab2812544f2c3b5389'), ObjectId('66fbfcab2812544f2c3b538a'), ObjectId('66fbfcab2812544f2c3b538b')]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

'All codes regarding INSERT are completed here. '

In [ ]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient("db2")
mycol.create_index("name",unique=True)
try:
    mycol.insert_one({"name":"John","address":"Highway 37"})
    print("Inserted John.")
except pymongo.errors.DuplicateKeyError:
    print("Duplicate entry for John.")

In [31]:
"""All codes written below are regarding FIND. """


import pymongo
pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
x = mycol.find_one()  #will find only one data. 
print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
for x in mycol.find():  #will find all data.
    print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
for x in mycol.find({},{"_id": 0,"name": 1,"address": 1}):
    print(x) #It will return only name,addresses not the ids.

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
for x in mycol.find({},{"address": 0}):  #It will exclude address.
    print(x)

"""All codes regarding FIND are completed here. """

{'_id': ObjectId('66fbfcab2812544f2c3b5380'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66fbfcab2812544f2c3b5380'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66fbfcab2812544f2c3b5381'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66fbfcab2812544f2c3b5382'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66fbfcab2812544f2c3b5383'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b5384'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66fbfcab2812544f2c3b5385'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66fbfcab2812544f2c3b5386'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66fbfcab2812544f2c3b5387'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b5388'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66fbfcab2812544f2c3b5389'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66fbfcab2812544f2c3b538a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66fbfcab2812544f2c3b538b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfcab2812544f2c3b5380'), 'name': 'Amy'}
{'_id': ObjectId('66fbfcab2812544f2c3b5381'), 'name': 'Hannah'}
{'_id': ObjectId('66fbfcab2812544f2c3b5382'), 'name': 'Michael'}
{'_id': ObjectId('66fbfcab2812544f2c3b5383'), 'name': 'Sandy'}
{'_id': ObjectId('66fbfcab2812544f2c3b5384'), 'name': 'Betty'}
{'_id': ObjectId('66fbfcab2812544f2c3b5385'), 'name': 'Richard'}
{'_id': ObjectId('66fbfcab2812544f2c3b5386'), 'name': 'Susan'}
{'_id': ObjectId('66fbfcab2812544f2c3b5387'), 'name': 'Vicky'}
{'_id': ObjectId('66fbfcab2812544f2c3b5388'), 'name': 'Ben'}
{'_id': ObjectId('66fbfcab2812544f2c3b5389'), 'name': 'William'}
{'_id': ObjectId('66fbfcab2812544f2c3b538a'), 'name': 'Chuck'}
{'_id': ObjectId('66fbfcab2812544f2c3b538b'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

'All codes regarding FIND are completed here. '

In [41]:
"""All codes written below are regarding QUERY. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address": "Park Lane 38"}  #finding particular address data.
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address": {"$gt": "S"}} #Finds data with address starting
mydoc = mycol.find(myquery)         #with "S" or higher.
for x in mydoc:
    print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address":{"$regex":"^S"}} #Finding data having address
mydoc = mycol.find(myquery)           #starting with "S".
for x in mydoc:
    print(x)

"""All codes regarding QUERY are completed here. """

{'_id': ObjectId('66fbfcab2812544f2c3b5388'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66fbfcab2812544f2c3b5382'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66fbfcab2812544f2c3b5385'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66fbfcab2812544f2c3b5387'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b538b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfcab2812544f2c3b5385'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66fbfcab2812544f2c3b538b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

'All codes regarding QUERY are completed here. '

In [47]:
"""All codes written below are regarding SORT. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
mydoc = mycol.find().sort("name") #will sort the data ascending. 
for x in mydoc:
    print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
mydoc = mycol.find().sort("name",-1) #"-1" means inverse sort.
for x in mydoc:
    print(x)

"""All codes regardiing SORT are completed here. """

{'_id': ObjectId('66fbfcab2812544f2c3b5380'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66fbfcab2812544f2c3b5388'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66fbfcab2812544f2c3b5384'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66fbfcab2812544f2c3b538a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66fbfcab2812544f2c3b5381'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfcab2812544f2c3b5382'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66fbfcab2812544f2c3b5385'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66fbfcab2812544f2c3b5383'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b5386'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66fbfcab2812544f2c3b5387'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b538b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfcab2812544f2c3b5389'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66fbfcab2812544f2c3b5389'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66fbfcab2812544f2c3b538b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66fbfcab2812544f2c3b5387'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b5386'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66fbfcab2812544f2c3b5383'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66fbfcab2812544f2c3b5385'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66fbfcab2812544f2c3b5382'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66fbfcab2812544f2c3b5381'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66fbfcab2812544f2c3b538a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66fbfcab2812544f2c3b5384'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66fbfcab2812544f2c3b5388'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66fbfcab2812544f2c3b5380'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

'All codes regardiing SORT are completed here. '

In [59]:
"""All codes written below are regarding DELETE DOCUMENT. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address":"Mountain 21"}
mycol.delete_one(myquery) #It will delete one data. 

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address":{"$regex":"^S"}}
x = mycol.delete_many(myquery)
print(x.deleted_count, "documents deleted.")

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
x = mycol.delete_many({})
print(x.deleted_count, "documents deleted. ")

"""All codes regarding DELETE are completed here. """

0 documents deleted.
0 documents deleted.

'All codes regarding DELETE are completed here. '

In [75]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
mycol.delete_many({})
x = mycol.insert_many(mylist)
print(x.inserted_ids)  #Adding back the data.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [79]:
"""All codes written below are regarding DROP COLLECTION. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
#mycol.drop()

"""All codes regarding DROP COLLECTION are completed here. """

'All codes regarding DROP COLLECTION are completed here. '

In [89]:
"""All codes written below are regarding UPDATE. """

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address":"Valley 345"}
newvalues = {"$set":{"address":"Canyon 123"}}
mycol.update_one(myquery,newvalues)
for x in mycol.find():
    print(x)

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myquery = {"address":{"$regex":"^S"}}
newvalues = {"$set":{"name":"Minnie"}}
x = mycol.update_many(myquery,newvalues)
print(x.modified_count,"documents updated. ")

"""All codes regarding UPDATE are completed here. """

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
0 documents updated.

'All codes regarding UPDATE are completed here. '

In [99]:
"""All codes written below are regarding LIMIT. """


import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["db2"]
mycol = mydb["customers"]
myresult = mycol.find().limit(5)  #Find only 5 data.
for x in myresult:
    print(x)

"""All codes regarding LIMIT are completed here. """
"""All codes regarding PYMONGO are completed here. """

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}

'All codes regarding PYMONGO are completed here. '